<!DOCTYPE HTML>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href = "./css/style.css">
    <title>
        About
    </title>
         
</head>   
<body>
    <div class="main-content">
        <h1>{{title}} </h1>
        <img class="portrait" src="img/IMG_20170101_081343.jpg">
    </div>
    
    {{>footer}}
</body>   

</html>