<!DOCTYPE HTML>

<html>

<head>
    <link rel="icon" href="/img/weather.png"> 
    <link rel="stylesheet" href = "./css/style.css">
<title>
    Help
    </title>

</head>   
<body>
    <div class="main-content">
        <h1>Help </h1>
    <p>{{helptext}}</p>
    </div>
    
</body>   

</html>